.nav-bar {
    z-index: 1000;
    display: flex;
    position: absolute;
    background-color: #439e43;
    text-align: center;
    margin-top: 330px;
    width: 100%;
    justify-content: space-between;
    text-decoration: none;
}

.nav-bar ul {
    list-style: none;
    margin-left: 30%;
}

.nav-bar ul li {
    display: inline;
    margin: 0 300px;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 60px;
}

.nav-bar ul li a:hover {
    text-decoration: underline;
}


